
    {% extends 'base.html' %}
    {% block body %}
    
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>

<script>

   
    function showVouchers(){
      
      document.getElementById('voucherPop').style.visibility= "visible";
      document.getElementById('voucherPop').style.display = "block"; 
      document.getElementById('ledger').hidden=true
     
  }
    function showVouchers(){
        document.getElementById('voucherPop').style.visibility= "visible";
        document.getElementById('voucherPop').style.display = "block";
        document.getElementById('ledger').hidden=true
     
        
    }
    window.addEventListener('click',outsideClick)
    function outsideClick(event){
        if(event.target == document.getElementById('voucherPop')){
            document.getElementById('voucherPop').style.display = "none"
        }
    }
   /* function setVtype(name){
        document.getElementById('voucherPop').style.display = "none"
        document.getElementById('name').innerHTML = name
    }*/
    function setVtype(names){
        if (document.getElementById('name').value==null)
        {
        document.getElementById('name').value=names
        }
        else{
            document.getElementById('name').value=names
        }
        
    }
    function showDp(){
        document.getElementById('dpModal').style.visibility= "visible";
        document.getElementById('dpModal').style.display = "block";  
    }
    window.addEventListener('click',outsideClick1)
    function outsideClick1(event){
        if(event.target == document.getElementById('dpModal')){
            document.getElementById('dpModal').style.display = "none"
        }
    }
    function setPeriod(){
        console.log('hi')
        var f = document.getElementById('fdate').value;
        var l = document.getElementById('ldate').value;
        let txt1 = 'For'
        let txt2 = 'to'
        document.getElementById('dperiod').innerHTML = txt1.bold() + ' ' + f + ' ' + txt2.bold() + ' ' + l
        document.getElementById('dpModal').style.display = "none"
        
        pdata = {firstdate:String(f),lastdate:String(l)};
        $.ajax({
            url : "",
            method : "POST",
            data : pdata,
            dataType : "json",
            success : function(data){
                console.log(data)
            }
        });
    }
    function showname(){
            
            var name = document.getElementById("name");
            var mailingname = name.value;
            document.getElementById("mailingname").value= mailingname;
        }
    function showunder()
        {
            document.getElementById('tbody').hidden=false
            document.getElementById('ledger').hidden=false
            document.getElementById('party').hidden=true
        }
        function showstock()
        {
            document.getElementById('tbody').hidden=false

        }
  
        function setvalue(val)
    {
         val= document.getElementById('credit');
         v=1;
            v=val.value + v.value;
            document.getElementById('credit').value=v;
    }
    function setstock(names)
    {
        document.getElementById('stock').value=names;
  }
  function setledger(names){
        
        document.getElementById('ledgeraccount').value=names;
       
        
    }
  function addamount(){
    a=Number(document.getElementById('qty').value);
    b=Number(document.getElementById('rate').value);
    c=a*b;
    document.getElementById('amount').value=c;
    document.getElementById('total').value=c;
    
}
function setnext()
        {
            document.getElementById('tbody').hidden=false
            document.getElementById('tbodys').hidden=false
            n=n+1;
        }
</script> 
  <div class="m-0" style="width: 800px;margin-left: 100px;">
     <!---->
       
    <h6 class="bg-info text-light p-1 m-1 text-left">Accounting Voucher Creation</h6>
    
    <div  style="text-align: center;margin-top:-30px;font-weight:900">{{com.name}}</div>
    <div style="text-align: right;margin-top:-25px;margin-right:180px;font-weight:900" id="currentDate"></div>

            <form  style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'creditsave' %}">
                {% csrf_token %}
                
               
                <div class="row container-fluid p-0 mt-1" >

                   
                    <div class="col-sm-6 m-0 p-4">
                       
                        <div class="row container-fluid  p-2 m-0">
                        
                            <div class="col-sm-4 m-0 p-0"> <label >Credit note</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="" value="1" name="credit" onload="setvalue(value)"></div>
                        </div>
    
                       

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Party A/c Name</label></div>
                            <div class="col-sm-8 m-0 p-0"><input onchange="showname()" required type="text" class="form-control" id="name"  placeholder="" name="name"></div>
                        </div>

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Ledger Account</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="ledgeraccount" placeholder=""   name="ledger" onclick="showunder()"></div>
                        </div>


                    </div>
                </div>
              

           <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);"> 
      <!-- <div class="col-sm-4 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">  --><!--
                    

                    <div class="row container-fluid  p-2 m-0">
                        <div class="col-sm-6 m-0 p-0"> <label for="c">Name of Item</label></div>
                        
                    </div>
                    
                    <div class="bankac hide p-0 m-0 w-100" id="bankac" hidden>
        
                        <h6 class="p-3">Bank Account Details</h6>
                
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="pan">A/c Holder's Name</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" value="{{cmp.name}}" class="form-control" id="acna" placeholder="" name="holder_name"></div>
                            
                        </div>
                 

            </div>-->
            <div class="row container-fluid m-0 mt-2 w-100 p-0">
           
                <table class="table p-0 m-0" id="pTable">
                    
                        <thead>
                            <tr>
                                <th>Name of item</th>
                                <th>Quantity</th>
                                <th>Rate per</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <div class="table" >
                        <tbody hidden name="tbody" id="tbody">
                            <tr>
                                <td>
                                <input type="text" id="stock" name="stocks" class="form-control" placeholder="" onclick="showVouchers()" style="width: 200px;">
                                </td>
                               <!--
                                <td class="w-100 m-0 p-0 pl-3" style="cursor: pointer;"><a type="button"> April</td></a>
                                
                                 <td class="w-25 m-0 p-0 text-center">dfdgfd</td> 
                                 <td class="w-25 m-0 p-0 text-center">dfdgfd</td> 
                                 <td class="w-25 m-0 pl-0 text-center">dfdgfd</td> -->
                            
                            
                              
                                <!--
                                <td class="w-100 m-0 p-0 pl-3" style="cursor: pointer;"><a>May </a></td>
                                <td class="w-25 m-0 p-0 text-center"></td> -->
                            
                            
                                <td>
                                    <input type="text" class="form-control" name="rate" id="rate" placeholder="0" style="width: 100px;">
                                    </td>
                                    <td>
                                        <select class="form-control" name="select" >
                                            {% for units in unit %}
                                            <option value="{{ category.id }}">{{ units.symbol }}</option>
                                            {% endfor %}
                                        </select>
                                        </td>
                                        <td>
                                            <input type="text" name="qty" id="qty" class="form-control" placeholder="0" onkeyup="addamount()" style="width: 100px;">
                                            </td>
                                <!--
                                <td class="w-100 m-0 p-0 pl-3" style="cursor: pointer;"><a>June</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                        
                                <td>
                                <input type="text" name="amount" id="amount" class="form-control" placeholder="0"  style="width: 100px;">
                                </td>
                                <td>
                                    <button id="next" onclick="setnext()">Next</button>
                                </td>
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>July</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                            </tr>
                            <tr>
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>August</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                            </tr>
                            <tr>
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>September</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                            </tr>
                          
        
                        </tbody>
                
            
                    
                        <tbody hidden name="tbodys" id="tbodys">
                            <tr>
                                <td>
                                <input type="text" id="stock" name="stock" class="form-control" placeholder="" onclick="showVouchers()" style="width: 200px;">
                                </td>
                               <!--
                                <td class="w-100 m-0 p-0 pl-3" style="cursor: pointer;"><a type="button"> April</td></a>
                                
                                 <td class="w-25 m-0 p-0 text-center">dfdgfd</td> 
                                 <td class="w-25 m-0 p-0 text-center">dfdgfd</td> 
                                 <td class="w-25 m-0 pl-0 text-center">dfdgfd</td> -->
                            
                            
                              
                                <!--
                                <td class="w-100 m-0 p-0 pl-3" style="cursor: pointer;"><a>May </a></td>
                                <td class="w-25 m-0 p-0 text-center"></td> -->
                            
                            
                                <td>
                                    <input type="text" class="form-control" name="rate" id="rate" placeholder="0" style="width: 100px;">
                                    </td>
                                    <td>
                                        <select class="form-control" name="select" >
                                            {% for units in unit %}
                                            <option value="{{ category.id }}">{{ units.symbol }}</option>
                                            {% endfor %}
                                        </select>
                                        </td>
                                        <td>
                                            <input type="text" name="qty" id="qty" class="form-control" placeholder="0" onkeyup="addamount()" style="width: 100px;">
                                            </td>
                                <!--
                                <td class="w-100 m-0 p-0 pl-3" style="cursor: pointer;"><a>June</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                        
                                <td>
                                <input type="text" name="amount" id="amount" class="form-control" placeholder="0"  style="width: 100px;">
                                </td>
                                <td>
                                    <button id="next" onclick="setnext()">Next</button>
                                </td>
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>July</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                            </tr>
                        </div>
                          
        
                        </tbody>
                    </table>
    
                
                </div>
                <div class="row container-fluid m-0 w-100 p-0">
                    <table class="table p-0 m-0">
                        <tbody>
                            <tr>
                                <td class="w-75 m-0 p-0 pl-3">Grand Total</td>
                                <td class="w-25 m-0 p-0 text-center"><input type="text" name="total" class="form-control" placeholder="00" id="total" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
                    
            </form>
      </div>
  

            
            <div class="enter w-100 py-4"><button class="btn btn-info w-25 px-4">SAVE</button></div>   
                
       

                
                <!-- Listing -->
              
                <div id="party" hidden class="row container " style="margin-block-start: -390px;margin-left: 530px;justify-content: end;">
                    <div class="col-sm-6 m-1 p-1"></div>
                    <div class="col-sm-6 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
                        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

                        
                    <div  class="bg-info text-light">List of Ledger Accounts</div>
                    <div style="text-align: right;" id="currentDate"></div>
                           <div>
                               <table>
                                <br>
                                
                                <tr>
                                    <div style="text-align: right;margin-right: 20px;"><a href="">Create</a></div>   
                                    
                                    </tr>
                                    <tr>
                                        <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter' %}">Back</a></div>   
                                        
                                    </tr>
                                    <hr style="width:100%;text-align:left;margin-left:0">
                                    {% for i in ledger %}
                                        {% if i.under == "Sundry_Creditors" %}
                                    <tr>
                                    <div style="margin-left: 25px;"><a href="{% url 'receiptdetails' %}" onclick="setVtype('{{ i.name }}');">{{i.name}}</a></div>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    
                               </table>
                           </div>
                        </div>
                    
           </div>    
            <!-- Listing -->
              
            <div id="ledger" hidden class="row container " style="margin-block-start: -390px;margin-left: 530px;justify-content: end;">
                <div class="col-sm-6 m-1 p-1"></div>
                <div class="col-sm-6 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
                    <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

                    
                <div  class="bg-info text-light">List of Ledger Account</div>
                <div style="text-align: right;" id="currentDate"></div>
                       <div>
                           <table>
                            <br>
                            
                            <tr>
                                <div style="text-align: right;margin-right: 20px;"><a href="">Create</a></div>   
                                
                                </tr>
                                <tr>
                                    <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter' %}">Back</a></div>   
                                    
                                </tr>
                                <hr style="width:100%;text-align:left;margin-left:0">
                                {% for i in ledger %}
                                    {% if i.under == "Sundry_Creditors" %}
                                <tr>
                                <div style="margin-left: 25px;"><a onclick="setledger('{{ i.name }}');">{{i.name}}</a></div>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                
                                
                           </table>
                       </div>
                    </div>
                
       </div>    
        
       
           <div class="row container">  
            <div class="modal" id="voucherPop" style="width: 260px;height: 800px; margin-left: 890px;margin-top: 150px;">
                <div class="modal-content">
                    <div class="modal-header bg-info ">
                        <h6 class="modal-title ml-3">List of Stock Items</h6>
                    </div>
                    <div class="modal-body">
                        <div class="text-right"><a  style="cursor: pointer;" class="text-dark">Create</a></div>
                        <hr class="mt-0 border-dark">
                        <ul class="list-group">
                            {% for s in stock %}
                            <li class="list-group-item" onclick="setstock('{{ s.name }}');">{{ s.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>          
 <script>
    document.getElementById("currentDate").innerHTML=new Date().toDateString();
    document.getElementById('party').hidden=false
function setDate(){
    document.getElementById("currentDate").innerHTML= document.getElementById('enterDate').value;
}
 </script>
    {% endblock %}