{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    .enter{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .month
    {
        
        display: grid;
        margin-left: 10px;
        font-size:medium
    }
    .text{
        text:center;
    }
    a:hover {
  background-color: rgb(255, 196, 0);
}


</style>




<div class="row container-fluid p-0 mx-0 justify-content-center">
    <div class="col-sm-10 p-0" style="background-color:rgba(0,0,0,0.2);height: 100%;">
        <div hidden id="cid">{{ com.id }}</div>
        <div  class="bg-info text-light">&nbsp; &nbsp;  Credit Note Register<span style="margin-left: 40%;">{{cmp.name}}</span></div>
        <div class="row container-fluid m-0 mt-4 w-100 p-0">
            <span class="card border-bottom border-top w-75 rounded-0 contra_head">
                <div class="card-body">
                    <div class="card-text mt-3"><b>P a r t i c u l a r s</b></div>
                </div>
            </span>
            <span class="card border w-25 text-center rounded-0 contra_head">
                <div class="card-body p-0">
                    <div class="card-title border-bottom mb-0">
                    
                        <i id="Vname">Credit Note</i><br><b>{{cmp.name}}</b><br>For 
                        
                    </div>
                    
                    <div class="card-text border-bottom">
                        <b>Transactions</b>
                    </div>
                    <div class="card-text row container-fluid p-0 ml-1">
                        <span class="col-sm-6 border-right p-0">Total Vouchers</span>
                        <span class="col-sm-6 p-0">(Cancelled)</span>
                    </div>
                </div>
            </span>
        </div>
<script>
    document.getElementById("currentDate").innerHTML=new Date().toDateString();
    function setDate(){
            document.getElementById("currentDate").innerHTML= document.getElementById('enterDate').value;
        }
        var table = document.getElementById("table");
            var cells = table.getElementsByTagName("td");
            for (var i = 0; i < cells.length; i++) {
                if(i == 0){
        
                    document.getElementById("compName").innerHTML= cells[0].innerText;
                    setName(cells[0].innerText, cells[1].innerText);
                }
             }
</script>

<div class="month" >
    <a href="{% url 'voucherregister' %}">April</a>
    <a href="#">May</a>
    <a href="#" >June</a>
    <a href="#">July</a>
    <a href="#">August</a>
    <a href="#">September</a>
    <a href="#">October</a>
    <a href="#">November</a>
    <a href="#">December</a>

</div>
{% endblock %}

