{% extends 'base.html' %}
{% block body %}

<style>
    .enter{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
</style>

<div class="m">
    <!---->
      
   <h6  class="bg-info text-light p-1 m-1 text-center">Receipt Details</h6>
   <div  style="text-align: center;margin-top:-35px;font-weight:900">{{cmp.name}}</div>

           <form  style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'add_receiptdetails' %}">
               {% csrf_token %}
               
               <div class="row container-fluid p-0 m-0" >

                <div class="col-sm-6 m-0 p-4">

                    <div class="row container-fluid  p-3 m-2">

                        <div class="col-sm-4 m-0 p-0"> <label >Tracking No:</label></div>
                        <div class="col-sm-8 m-0 p-0">
                         <input type="text" class="form-control" placeholder="" name="tracking_no" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                </div>
                       <div class="col-sm-6 m-0 p-4">
                       <div class="row container-fluid  p-3 m-2">
                           <div class="col-sm-4 m-0 p-0"> <label >Dispatch Doc NO:</label></div>
                           <div class="col-sm-8 m-0 p-0"> 
                           <input type="text" class="form-control" id="" placeholder="" name="dispatchno" required style="background-color: #2f516f;color: white;"></div>
                       </div>
                       </div>

                      

                       <div class="col-sm-6 m-0 p-4">

                       <div class="row container-fluid  p-3 m-2">
                        <div class="col-sm-4 m-0 p-0"> <label >Dispatched through</label></div>
                        <div class="col-sm-8 m-0 p-0"> 
                        <input type="text" class="form-control" id="" placeholder="" name="dsptchthrough" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                       </div>
                       <div class="col-sm-6 m-0 p-4">

                    <div class="row container-fluid  p-3 m-2">
                        <div class="col-sm-4 m-0 p-0"> <label >Destination</label></div>
                        <div class="col-sm-8 m-0 p-0"> 
                        <input type="text" class="form-control" id="" placeholder="" name="destination" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                       </div>
                       <div class="col-sm-6 m-0 p-4">

                    <div class="row container-fluid  p-3 m-2">
                        <div class="col-sm-4 m-0 p-0"> <label >Carrier Name/Agent</label></div>
                        <div class="col-sm-8 m-0 p-0"> 
                        <input type="text" class="form-control" id="" placeholder="" name="carriername" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                       </div>
                    <div class="col-sm-6 m-0 p-4">

                    <div class="row container-fluid  p-3 m-2">
                        <div class="col-sm-4 m-0 p-0"> <label >Bill of Ladding</label></div>
                        <div class="col-sm-8 m-0 p-0"> 
                        <input type="text" class="form-control" id="" placeholder="" name="billoflading" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                    </div>
                    <div class="col-sm-6 m-0 p-4">

                    <div class="row container-fluid  p-3 m-2">
                        <div class="col-sm-4 m-0 p-0"> <label >Date</label></div>
                        <div class="col-sm-8 m-0 p-0"> 
                        <input type="date" class="form-control" id="" placeholder="" name="date" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                    </div>
                    <div class="col-sm-6 m-0 p-4">

                    <div class="row container-fluid  p-3 m-2">
                        <div class="col-sm-4 m-0 p-0"> <label >Motor vehicle NO:</label></div>
                        <div class="col-sm-8 m-0 p-0"> 
                        <input type="text" class="form-control" id="" placeholder="" name="motorvehicleno" required style="background-color: #2f516f;color: white;"></div>
                    </div>
                    </div>
                    

                    <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                        <!-- <div class="col-sm-4 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);"> -->
                             
         
                             <hr>
                                 <div class="col-sm-6 m-0 p-0" > <label for="c"><b>Original Invoice Details</b></label></div>
                          
         
                             </div>
                             <div class="col-sm-6 m-0 p-4">
            
                                <div class="row container-fluid  p-2 m-2">
                                    <div class="col-sm-4 m-0 p-0"> <label >Original Incvoice NO:</label></div>
                                    <div class="col-sm-8 m-0 p-0"> 
                                    <input type="text" class="form-control" id="" placeholder="" name="invoiceno" required style="background-color: #2f516f;color: white;"></div>
                                </div>
                                </div>


                             <div class="col-sm-6 m-0 p-4">

                                <div class="row container-fluid  p-2 m-2">
                                    <div class="col-sm-4 m-0 p-0"> <label >Date</label></div>
                                    <div class="col-sm-8 m-0 p-0"> 
                                    <input type="date" class="form-control" id="" placeholder="" name="invoicedate" required style="background-color: #2f516f;color: white;"></div>
                                </div>
                                </div>
                               
                   </div>

                   <div class="col-sm-3 m-0 p-0"></div>

                   <div class="enter w-100 py-4"><button class="btn btn-info w-25 px-4">CREATE</button></div>  
                   </form> 
               
           </div>
{% endblock %}            